.container {
    padding-left: var(--edge-margin);
    padding-right: var(--edge-margin);
    margin-top: 3.5rem;
    margin-bottom: 4rem;
}

.list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.125rem;
    color: var(--color-dark-100);
}