.menu {
    display: flex;
    column-gap: 0.8rem;
}

.menu > a {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-dark-gray);
}