.button {
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    background-color: var(--color-orange);
    color: var(--color-white);
    border-radius: 0.25rem;
    min-height: 3rem;
    width: 100%;
}